<div class="card border-warning">
    <div class="card-header text-white bg-dark">Iniciar Sesion</div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="user">Usuario:</label>
                    <input type="text" id="user" class="form-control" name="usuario"  [(ngModel)]="usuario">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" class="form-control"  name="password"  [(ngModel)]="password">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <button type="submit" id="login-btn" class="btn btn-dark" (click)="logIn()">Acceder</button>
                </div>
            </div>
        </form>
    </div>
</div>